.container {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.main {
    display: grid;
    place-items: center;

    canvas {
        grid-area: 1 / 1;
    }

    .centered-label {
        grid-area: 1 / 1;
        place-self: center;
        text-align: center;
    }
}
